.total{
    background-color: rgb(151, 208, 190);
    height: 645px;
}

.total h1{
    padding-top: 30px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    border: 2px solid #232323;
    width: 300px;
    height: 500px;
    margin:auto;
    justify-content: center;

    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 10px;
}

.card__title{
    margin-left: auto;
    margin-right: auto;
}

.card__title h3{
    color: white;
}

.card__body{
    background-color: #616161;
    width: 90%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__body img{
    height: 300px;
}

.card__stats{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__stats__type{
    color: rgb(36, 32, 32);
    font-weight: bold;
    background-color: coral;
    border-radius: 5px;
    padding: 5px;
    margin-right: 4px;
}